/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #080708;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bangers', cursive;
}

p, label, input{
    font-family: 'Oswald', sans-serif;
}


/* Menu Nav */
nav{
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgba(253,202,64,0.5606617647058824) 50%, rgba(8,7,8,1) 100%) 1;
}
.my-bg {
    background-color: #080708;
    padding: 2vh 0;
}

.my-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #E6E8E6;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-family: 'Bangers', cursive;
    font-size: 24px;
    font-weight: 100;
}

.my-nav-link:hover {
    color: #FDCA40;
}

/* Logo */
.my-navbar-brand{
    padding: 10px;
    text-decoration: none;
    background-color: #FDCA40;
    color: #080708;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 1%;
    background-image: linear-gradient(to right, #080708, #fdcb40);
}

.my-navbar-brand:hover{
    color: #080708;
}

.my-header-letter{
    font-weight: 300;
    border-bottom: 1px dashed #FDCA40;
    background-image: linear-gradient(to left, #080708, #FDCA40);
    font-size: 28pt;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-navbar-toggler{
    background-color: #fdcb407e;
}

/* carousel */
.background-image{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.text-banner{
    top: 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1),rgb(0, 0, 0));
    background-size: 800% 800%;
    animation: colors 3s ease-in-out both;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.center-text p {
    padding: 0 20vw;
    font-size: 30pt;
}

.center-text h2 {
    padding: 0 20vw;
    font-size: 36pt;
}

@keyframes colors {
    0%{
        background-position: 0% 100%;
    }

    50%{
        background-position: 100% 100%;
    }

    100%{
        background-position: 100% 100%;
    }
}

.center-text{
    color: white;
    display:flex;
    text-align: end;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-direction: column;
    z-index: 100;
    padding-right: 2px;
}

.main-banner{
    border: 2px solid;
    box-shadow: 0px 5px 20px rgba(253, 203, 64, 0.534);
}

/* Cards */
.block-cards{
    display: flex;
    margin: 150px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.img-card-index{
    height: 300px;
    object-fit: cover;
}

.card {
    margin: 0 10px;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #080708;
    color: #E6E8E6;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(253,202,64,0.5606617647058824) 50%, rgba(8,7,8,1) 100%, rgba(253,202,64,0.5606617647058824) 50%) 1;
    box-shadow: 5px 0px 10px rgba(253, 203, 64, 0.274);
}

div.card-body{
    display: flex;
}

.card h3 {
    align-items: center;
    display: flex;
    font-size: 24pt;
}

.card a{
    width: 100%
}

.card{
    width: 25rem;
}

@media only screen and (max-width: 1000px){
    .block-cards{
        flex-direction: column;
        margin: 100px 0;
    }
    .card{
        margin: 20px 10px;
        width: 20rem;
    }

    .center-text p {
        font-size: 15pt;
        padding: 10px;
    }

    .center-text h3 {
        font-size: 18pt;
        padding: 10px;
    }

    #carouselExampleFade button{
        opacity: 0;
    }
}
/* Footer */
footer{
    border-top: 2px solid;
    border-image: linear-gradient(270deg, rgba(253,202,64,0.5606617647058824) 50%, rgba(8,7,8,1) 100%, rgba(253,202,64,0.5606617647058824) 50%,  rgba(8,7,8,1) 100%) 1;
    color: #E6E8E6;
}


/* Cumon Banner */
.background-image-cummon{
    height: 20vh;
    object-fit: cover;
    object-position: center;
}

.text-banner-cummon{
    top: 0px;
    background: #080708f8;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-banner-cummon h2 {
    font-size: 50px;
}

 /* Form */
 .information{
    margin: 7vw 0;
    height: 100%;
 }
 .information h3{
    color: #E6E8E6;
    text-align: center;
 }

.block{
    border: 1px solid;
    border-image: linear-gradient(180deg, rgba(253,202,64,0.5606617647058824) 50%, rgba(8,7,8,1) 100%, rgba(253,202,64,0.5606617647058824) 50%) 1;
    padding: 50px;
}

 label{
    color: #E6E8E6;
    font-size: 20px;
 }


 .my-input-form{
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #080708;
    background-color: #e6e8e6;
    border-radius: 0.25rem;
 }

.my-form-check-input:checked {
    background-color: #FDCA40;
    border-color: #FDCA40;
    box-shadow: 0 0 1em gold;
}

.my-form{
    margin-bottom: 20px;
}

.my-form-select option:hover,
.my-form-select option:focus,
.my-form-select option:active,
.my-form-select option:checked {
    background-color: #FDCA40;
}

.tittle-form{
    font-size: 28pt;
    margin-bottom: 50px;
}

.aside-form{
    padding: 50px;
}
.text-aside{
    color:#E6E8E6;
}

.aside-form p{
    margin-bottom: 15px;
    font-size: 20pt;
}

.aside-form h3{
    display: flex;
    border-bottom: 1px solid;
    border-color: #FDCA40;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: end;
}

.my-btn{
    margin: 20px;
    color: #FDCA40;
    background-color: #080708;
    box-shadow: 0 0 1em gold;
    border: none;
}
.my-btn:hover{
    background-color: #FDCA40;
    border: none;
    color: #080708;
}

/* Alert */
#liveAlertPlaceholder{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    margin:0;
    width:600px;
    height:250px;
    margin:auto;
    overflow-y:auto;
    width: 300px;
}

/* Products */
.container-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    color: #E6E8E6;
    flex-direction: column;
}

.container-tittle div{
    padding: 5px;
    text-align: center;
}

.container-tittle h3{
    font-size: 28pt;
}

.my-card-product{
    flex-direction: column;
    width: 100%;
    padding: 15px;
    align-items: center;
}

.container-product-card-currency{
    width: 200px;
    height: 215px;
    padding: 5px;
    font-size: 18pt;
    margin: 10px;
}

.img-card-product{
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 20%;
}

a.link{
    text-decoration: none;
    color: #FDCA40;
    padding: 2px;
    border-radius: 20%;
}

a.link:hover{
    box-shadow: 0px 5px 20px rgba(253, 203, 64, 0.534);
    color: #080708;
    background-color: #FDCA40;
}

.container-product-card-cryptocurrency{
    width: 300px;
    height: 315px;
    padding: 5px;
    font-size: 18pt;
    margin: 10px;
}

.crypto-img{
    height: 64px;
    width: 64px;
}