/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: #080708;
}

/* Menu Nav */
nav{
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, rgba(253,202,64,0.5606617647058824) 50%, rgba(8,7,8,1) 100%) 1;
}
.my-bg {
    background-color: #080708;
    padding: 3vh 0;
}

.my-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #E6E8E6;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-family: 'Bangers', cursive;
    font-size: 24px;
    font-weight: 100;
}

.my-nav-link:hover {
    color: #FDCA40;
}

/* Logo */
.my-navbar-brand{
    padding: 10px;
    text-decoration: none;
    background-color: #FDCA40;
    color: #080708;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 1%;
    background-image: linear-gradient(to right, #080708, #fdcb40);
}

.my-navbar-brand:hover{
    color: #080708;
}

.my-header-letter{
    font-family: 'Bangers', cursive;
    font-weight: 300;
    border-bottom: 1px dashed #FDCA40;
    background-image: linear-gradient(to left, #080708, #FDCA40);
    font-size: 28pt;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-navbar-toggler{
    background-color: #fdcb407e;
}

/* carousel */
.background-image{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.text-banner{
    top: 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.99));
    background-size: 300% 300%;
    animation: colors 5s ease-in-out both;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

/* .text-banner{
    top: 0px;
    background: linear-gradient(90deg, #084177, #687466, #cd8d7b, #fbc499);
    background-size: 300% 300%;
    animation: colors 15s ease-in-out infinite;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
} */

@keyframes colors {
    0%{
        background-position: 0% 100%;
    }

    50%{
        background-position: 100% 100%;
    }

    100%{
        background-position: 100% 100%;
    }
}

.center-text{
    color: white;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-direction: column;
    z-index: 100;
}